html.no-js(lang="zh-TW")
head 
  title="百倍傳奇基金操盤手｜邁可森老師"
  meta(charset="utf-8")
  link(rel="stylesheet", href="../css/style.css")
  link(rel="stylesheet", href="fpa.scss")
  link(rel="stylesheet", href="../css/common.scss")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
body 
  header.header
    div.header__mask
    div.header__content
      h2 90分鐘打造 你的投資策略
      h1 百倍傳奇基金策略家
      h1 邁可森老師
      h3 新手也能上手，突破理財成就
      div 市場上極少見的客製投資策略! 海外私募基金策略家親自操刀，一套為你量身打造的投資規劃, 友善新手, 快速上手! 挑戰
        span(style="color:red;") 180天穩健成績!!
  section.item-1
    h1 親愛的朋友，你好：
    p 覺得薪水不夠多，想替自己增加理財機會？
    p 一直覺得存款太少，談理財真的太遙遠？
    p 每天花那麼多時間研究，感覺自己都做白工？
    p 想實現心中夢想，不知道該怎麼踏出第一步？
    div.extra 想理財也想規劃人生？
        br
        | 或許你需要一位能
        br
        span 為你客製化的財務策略師！
  section.item-2
    div.class-title 什麼是專屬的財務策略？
    div.content 你身邊是否有朋友有高學歷、事業成功, 堪稱人生勝利組，好令人羨慕？
        br
        | 低頭看看自己的存款，不禁想問自己：「這輩子，只能這樣嗎？」
        br
        | 我們都想要一個美滿人生，完成心中夢想，想把辛苦存下來的錢，更上一層樓！
        br
        | 跑去上網看新聞學投資，花了時間還沒成果，最後就是你的心很痛！
        br
        | 現在，有一個讓你人生重新設定的機會！
        br
        span 打造專屬於你的投資策略
        | ，提高成績，用最聰明的理財方式，
        span 賺到專屬於你的穩健成績！
  section.item-3
    div.class-title 百倍傳奇基金策略手
    div.content 
      div
        img(src="img/user.png", alt="")
      div 
        h1 你好，我是邁可森
        p 大學畢業前，為了存下頭期款買到夢中的房子，我在知名連鎖健身房擔任教練，認真教學生，拚命把錢存下來。等我存到200萬頭期款，發現那間房子居然從200萬漲到580萬！
        p 那天，我想了很久，每個月薪水都固定，但物價愈來愈貴，會不會我存到580萬，房價又漲到1000萬？那我這輩子不就永遠買不了房？難道就這樣放棄我小時候的夢想嗎？
        p 為了加快速度，我跟風跑去做貨幣，沒想到一下子就損失我的儲蓄…我相信失敗是沒有找到正確方法！
        p 幸運的是，我認識到了多位海外基金策略家，經過一年多的嚴格訓練，學習
          span 國際投資者的投資心法！
          | 透過不斷修正策略，最後創下
          span 百倍傳奇成績
          | ！
        br
        h1 老師經歷
        p 全球前三大知名基金操盤手
        p 師承多位頂級國際大師操盤手，創下
          span 百倍傳奇
        p 專業教育機構資深訓練師
        p 累積15年市場交易資歷
  section.item-4 
    p 當我有成績之後
    p 我一直在思考如何創造一套
    p(style="color:blue") 「小資金，控制風險，穩健複製」的交易模組
    p 來幫助小資族做理財規劃
    p(style="color:red") 讓理財不再是階級專利
    p(style="color:red") 你也能用小資創造穩健成績!
  section.item-5
    div.content
      img(src="img/image01.png", alt="")
      img(src="img/image02.png", alt="")
  section.item-6
    div.class-title 這堂課有什麼?
    div.content 
      div.qa
        h1 量身訂作的有效操作
        p.desc 不管你是否有投資經驗，我將為你規劃一套專屬的投資心法，讓你真正掌握技巧，了解穩健理財的目標！
      div.qa
        h1 破除過往的投資盲點
        p.desc 不請不要因為過去的失敗，選擇停在原地！我會一一找出你的操作誤區，讓你快速學會正確觀念！
      div.qa
        h1 高機會的核心策略
        p.desc 完全不用複雜指標，只需要用一條線，掌握進場時間點，成績速度加快，創造你的極限！
      div.extra 控制風險，穩健出手
        br
        | 不用盯盤，也能抓住行情！
  section.item-6
    div.class-title 這堂課適合誰？
    div.content 
      div.qa
        h1 完全不懂投資的你
        p.desc 如果你想學會好好理財，不用擔心沒有經驗，我會讓你短時間學會，實現你的目標！
      div.qa
        h1 覺得本金不足的你
        p.desc 如果你想尋求改變，卻找不到正確方法，我會為你設計一套投資系統，讓你用小資金就能開始！
      div.qa
        h1 想提高操作績效的你
        p.desc 你花了很多時間研究，成績仍不穩定？請你給自己一個當贏家的機會，試試看我的一套新方法！
  section.item-7
    div.class-title(style="color:white;font-size:3rem;") 限時優惠
    div.wrapper
      div.content
        span(style="color:blue")  邁可森老師
        br
        span(style="color:blue")  百倍傳奇策略
        br 
        | 課程原價 
        span(style="text-decoration: line-through;") $3,580
        br 
        | 線上課限時 
        span(style="color:red") 免费報名
  section.item-8 Hi~我是邁可森
    br
    | 理財其實很簡單，沒有複雜公式
    br
    | 為你量身訂做投資策略
    br
    | 立即到下方填寫報名表
    br
    | 期待與你在課堂上見囉！
  section.item-9 
    div.content
      div 為管控課程品質，每場名額限制60名!
        br
        | 額滿即關閉，請務必盡快報名
        br
        | 填寫報名之後
        br
        | 我們將在活動前幾天以簡訊與電話通知您!
        br
        br
        | 費用 : "目前免費"
      form(action="result")
        div.form-group
          label(for="name") 姓名
          input(type="text", id="name", name="name",required)
        div.form-group
          label(for="phone") 電話
          input(type="tel", id="phone", name="phone",required)
        div.form-group
          label(for="email") 活動場次
          checkbox 
            input(type="radio", id="morning", name="time", value="morning")
            label(for="morning") 06/03 (一) 09:00-12:00（贏家策略-免費線上直播課）
          checkbox
            input(type="radio", id="afternoon", name="time", value="afternoon")
            label(for="afternoon") 06/03 (一) 13:00-15:00（贏家策略-免費線上直播課）
          checkbox
            input(type="radio", id="morning2", name="time", value="morning2")
            label(for="morning2") 06/06 (四) 09:00-12:00（贏家策略-免費線上直播課）
          checkbox
            input(type="radio", id="afternoon2", name="time", value="afternoon2")
            label(for="afternoon2") 06/06 (四) 13:00-15:00（贏家策略-免費線上直播課）
          checkbox
            input(type="radio", id="morning3", name="time", value="morning3")
            label(for="morning3") 06/09 (日) 09:00-12:00（贏家策略-免費線上直播課）
          checkbox
            input(type="radio", id="afternoon3", name="time", value="afternoon3")
            label(for="afternoon3") 06/09 (日) 13:00-15:00（贏家策略-免費線上直播課）
        div.form-group
          button(type="submit") 立即報名
  include /common/footer.pug