html.no-js(lang="zh-TW")
head 
  meta(charset="utf-8")
  title="邁克森|百倍奉還操作術 感謝您"
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="../../css/style.css")
  link(rel="stylesheet", href="../../css/common.scss")
  link(rel="stylesheet", href="./index.scss")
  script.
    const onClick = () => {
      window.location.href = 'https://d-l.ink/zuq';
    }
    setTimeout(onClick, 3000);
body 
    div.container
        img(src='img/image.png', alt="")
        div
        h1 您的資料已經收到，我們將會盡快與您聯絡
        p 請加入官方LINE@，確保順利獲得最新資訊

    include /common/footer.pug