section.footer
  div(class="footer__info")
    p 聚財課有限公司
    p 地址: 台北市信義區信義路五段7號
    p 電話: 02-1234-5678
    p 信箱: 42886924
    p 客服專線：0809-007-600
    div(class="footer__extra")
    | 【公司聲明】
    br
    | 本公司業務僅販售財金領域書籍或影片教材，課程教學服務不涉及推廣，不需台灣金融服務監管機構獲得許可/註冊的金融服務。若有人以本公司名義推廣金融產品，歡迎與本公司來電檢舉
  div(class="footer__copyright") COPYRIGHT © 2015 - 2024 聚財課有限公司